<a href="https://colab.research.google.com/github/EdgarkMV/UTEC-Fundamentos-de-programacion/blob/main/%5B2%5D_Python_UTEC_251124.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

## Crear listas e identificar los tipos de listas

In [ ]:
# Listas homogéneas

numeros = [1,2,3,4]

In [ ]:
letras = ["a","b","c","d","e","f"]

In [ ]:
print(f"El objeto {numeros} es del tipo {type(numeros)}")

El objeto [1, 2, 3, 4] es del tipo <class 'list'>

In [ ]:
print(f"El objeto {letras} es del tipo {type(letras)}")

El objeto ['a', 'b', 'c', 'd', 'e', 'f'] es del tipo <class 'list'>

In [ ]:
# Listas heterogéneas

datos = [4,"Jorge",-15.5,"UTEC",True]

In [ ]:
print(f"El objeto {datos} es del tipo {type(datos)}")

El objeto [4, 'Jorge', -15.5, 'UTEC', True] es del tipo <class 'list'>

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
datos      list    n=5
letras     list    n=6
numeros    list    n=4

## Acceder a los elementos de las listas

In [ ]:
print(f"La lista {datos}")

La lista [4, 'Jorge', -15.5, 'UTEC', True]

In [ ]:
print(f"El elemento ubicado en el índice 3 de la lista es {datos[3]}")

El elemento ubicado en el índice 3 de la lista es UTEC

In [ ]:
print(f"El elemento ubicado en el índice 4 de la lista es {datos[4]}")

El elemento ubicado en el índice 4 de la lista es True

In [ ]:
print(f"El último elemento de la lista es {datos[-1]}")

El último elemento de la lista es True

In [ ]:
print(f"Los primeros elementos de la lista son {datos[0:3]}")

Los primeros elementos de la lista son [4, 'Jorge', -15.5]

In [ ]:
print(f"Los primeros elementos de la lista son {datos[:3]}")

Los primeros elementos de la lista son [4, 'Jorge', -15.5]

In [ ]:
# Mostrar todos los elementos de la lista letras
# Mostrar el cuarto, quinto y sexto elemento de la lista letras

In [ ]:
#Mostrar todos los elementos de la lista letras
print(f"Los elementos de la lista son:\n {letras[:]}")
#Mostrar el cuarto, quinto y sexto elemento de la lista
print(f"Los elementos seleccionados de la lista son:\n {letras[3:6]}")

Los elementos de la lista son:
 ['a', 'b', 'c', 'd', 'e', 'f']
Los elementos seleccionados de la lista son:
 ['d', 'e', 'f']

In [ ]:
#Mostrar el cuarto, quinto y sexto elemento de la lista
print(f"Los elementos seleccionados de la lista son:\n {letras[3:]}")

Los elementos seleccionados de la lista son:
 ['d', 'e', 'f']

In [ ]:
print(f"Los elementos seleccionados de la lista son:\n {letras[2:4]}")

Los elementos seleccionados de la lista son:
 ['c', 'd']

## Insertar elemenos en una lista

In [ ]:
pares = [0,2,4,6,8,10] # lista homogénea

In [ ]:
type(pares)

list

In [ ]:
# Insertar un elemento al final de la lista
pares.append(12)

In [ ]:
print(f"La lista actualizada es \n{pares}")

La lista actualizada es
[0, 2, 4, 6, 8, 10, 12]

In [ ]:
pares.insert(1,100) # insertar elementos en un determinado índice

In [ ]:
print(f"La lista actualizada es \n{pares}")

La lista actualizada es
[0, 100, 2, 4, 6, 8, 10, 12]

In [ ]:
print(f"La lista letras tiene los siguientes elementos \n{letras}")

La lista letras tiene los siguientes elementos
['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
letras.insert(-1,"AAA")
print(f"La lista actualizada \n{letras}")

La lista actualizada
['a', 'b', 'c', 'd', 'e', 'AAA', 'f']

In [ ]:
letras.insert(9,"X")
print(f"La lista actualizada \n{letras}")

La lista actualizada
['a', 'b', 'c', 'd', 'e', 'AAA', 'f', 'X']

In [ ]:
letras[7]

'X'

## Las listas son mutables

In [ ]:
print(f"Los elementos de la lista letras son \n{letras[:]}")

Los elementos de la lista letras son
['a', 'b', 'c', 'd', 'e', 'AAA', 'f', 'X']

In [ ]:
# Acceder a los primeros 3 elementos
print(f"Los primeros tres elementos de la lista letras son \n{letras[:3]}")

Los primeros tres elementos de la lista letras son
['a', 'b', 'c']

In [ ]:
# Acceder a los primeros 3 elementos
print(f"Los primeros tres elementos de la lista letras son \n{letras[0:3]}")

Los primeros tres elementos de la lista letras son
['a', 'b', 'c']

In [ ]:
letras[:3] = ["A","B","C"]
print(f"La lista actualizada es \n{letras}")

La lista actualizada es
['A', 'B', 'C', 'd', 'e', 'AAA', 'f', 'X']

In [ ]:
letras[:3] = []
print(f"La lista actualizada es \n{letras}")

La lista actualizada es
['d', 'e', 'AAA', 'f', 'X']

## Eliminar elementos de una lista

In [ ]:
print(f"La lista inicial es \n{letras}")
elemento = letras.pop(2)
print(f"La lista actualizada es \n{letras}")
print(f"El elemento eliminado de la lista es {elemento}")

La lista inicial es
['d', 'e', 'AAA', 'f', 'X']
La lista actualizada es
['d', 'e', 'f', 'X']
El elemento eliminado de la lista es AAA

In [ ]:
print(f"La lista inicial es \n{pares}")
pares.remove(100)
print(f"La lista actualizada es \n{pares}")

La lista inicial es
[0, 100, 2, 4, 6, 8, 10, 12]
La lista actualizada es
[0, 2, 4, 6, 8, 10, 12]

In [ ]:
pares.append(12)
print(f"La lista actualizada es \n{pares}")

La lista actualizada es
[0, 2, 4, 6, 8, 10, 12, 12]

In [ ]:
pares.remove(12)
print(f"La lista actualizada es \n{pares}")

La lista actualizada es
[0, 2, 4, 6, 8, 10, 12]

In [ ]:
print(f"La lista inicial es \n{pares}")
del pares[4:]
print(f"La lista actualizada es \n{pares}")

La lista inicial es
[0, 2, 4, 6, 8, 10, 12]
La lista actualizada es
[0, 2, 4, 6]

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
datos      list    n=5
elemento   str     AAA
letras     list    n=4
numeros    list    n=4
pares      list    n=4

## Ordenar los elementos de una lista

1.   Elemento de lista
2.   Elemento de lista

In [ ]:
lista_0 = [10, 100, 1, 50, 23, 120, 1000, 3, 25]
print(f"La lista tiene los elementos \n{lista_0}")

La lista tiene los elementos
[10, 100, 1, 50, 23, 120, 1000, 3, 25]

In [ ]:
print(f"La lista tiene los elementos \n{lista_0}")
lista_0.sort()
print(f"\nLa lista ordenada tiene los elementos \n{lista_0}")

La lista tiene los elementos
[10, 100, 1, 50, 23, 120, 1000, 3, 25]

La lista ordenada tiene los elementos
[1, 3, 10, 23, 25, 50, 100, 120, 1000]

In [ ]:
lista_0 = [10, 100, 1, 50, 23, 120, 1000, 3, 25]
print(f"La lista tiene los elementos \n{lista_0}")
lista_0.sort(reverse=True)
print(f"\nLa lista ordenada (descendente) tiene los elementos \n{lista_0}")

La lista tiene los elementos
[10, 100, 1, 50, 23, 120, 1000, 3, 25]

La lista ordenada (descendente) tiene los elementos
[1000, 120, 100, 50, 25, 23, 10, 3, 1]

In [ ]:
print(f"El último elemento de la lista es {lista_0[-1]}")

El último elemento de la lista es 1

## Buscar elementos en una lista

In [ ]:
print(f"Los elmentos de la lista son \n{lista_0}")

Los elmentos de la lista son
[1000, 120, 100, 50, 25, 23, 10, 3, 1]

In [ ]:
100 in lista_0

True

In [ ]:
190 in lista_0

False

In [ ]:
print(f"El elemento 1000 está en el índice {lista_0.index(1000)}")

El elemento 1000 está en el índice 0

In [ ]:
lista_0.index(1000,0)

0

In [ ]:
lista_0.index(1000,3)

ValueError: 1000 is not in list

In [ ]:
lista_0.index(1000,1,6)

ValueError: 1000 is not in list

In [ ]:
lista_0.index(50,1,6)

3

In [ ]:
lista_0.index(10,1,6)

ValueError: 10 is not in list

In [ ]:
lista_0.index(10,1,7)

6

## Concatenar listas

In [4]:
marcas_favoritas = ["apple","hp","ferrari"]
marcas_complementarias = ["dell","toyota","coca_cola"]
print(f"Mis marcas favoritas son \n{marcas_favoritas}")
print(f"\nMis marcas complementarias son \n{marcas_complementarias}")

Mis marcas favoritas son
['apple', 'hp', 'ferrari']

Mis marcas complementarias son
['dell', 'toyota', 'coca_cola']

In [5]:
%whos

Variable                 Type    Data/Info
------------------------------------------
marcas_complementarias   list    n=3
marcas_favoritas         list    n=3

In [6]:
# El símbolo "+" me sirve para concatenar listas
print(f"Mi lista de marcas son \n{marcas_favoritas + marcas_complementarias}")
print(f"\nMis marcas favoritas son \n{marcas_favoritas}")
print(f"\nMis marcas complementarias son \n{marcas_complementarias}")

Mi lista de marcas son
['apple', 'hp', 'ferrari', 'dell', 'toyota', 'coca_cola']

Mis marcas favoritas son
['apple', 'hp', 'ferrari']

Mis marcas complementarias son
['dell', 'toyota', 'coca_cola']

In [7]:
# El símbolo "+" me sirve para concatenar listas
print(f"Mi lista de marcas son \n{marcas_favoritas + marcas_complementarias}")
print(f"\nMis marcas favoritas son \n{marcas_favoritas}")
print(f"\nMis marcas complementarias son \n{marcas_complementarias}")

Mi lista de marcas son
['apple', 'hp', 'ferrari', 'dell', 'toyota', 'coca_cola']

Mis marcas favoritas son
['apple', 'hp', 'ferrari']

Mis marcas complementarias son
['dell', 'toyota', 'coca_cola']

In [8]:
# El símbolo "+" me sirve para concatenar listas
print(f"Mi lista de marcas son \n{marcas_favoritas + marcas_complementarias}")
print(f"\nMis marcas favoritas son \n{marcas_favoritas}")
print(f"\nMis marcas complementarias son \n{marcas_complementarias}")

Mi lista de marcas son
['apple', 'hp', 'ferrari', 'dell', 'toyota', 'coca_cola']

Mis marcas favoritas son
['apple', 'hp', 'ferrari']

Mis marcas complementarias son
['dell', 'toyota', 'coca_cola']

In [9]:
# Listas numéricas
numeros_ = [10, 20]
numeros_2 = list(range(30,300,10))

In [10]:
print(f"La lista de valores numéricos es \n{numeros_}")
numeros_.extend(numeros_2)
print(f"\nLa lista de valores numéricos es \n{numeros_}")

La lista de valores numéricos es
[10, 20]

La lista de valores numéricos es
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290]

opraciones numericas on las listas

In [11]:
# Cuantificar la cantidad de elementos de una lista
len(numeros_)

29

In [12]:
print(f"La suma de los elementos de la lista es \n{sum(numeros_)}")
print(f"El promedio de los elementos de la lista es \n{sum(numeros_)/len(numeros_)}")
print(f"El mínimo de los elementos de la lista es \n{min(numeros_)}")
print(f"El máximo de los elementos de la lista es \n{max(numeros_)}")

La suma de los elementos de la lista es
4350
El promedio de los elementos de la lista es
150.0
El mínimo de los elementos de la lista es
10
El máximo de los elementos de la lista es
290

In [14]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
r = [a, b, c]
print(f"La lista a es \n{a}")
print(f"La lista b es \n{b}")
print(f"La lista c es \n{c}")
print(f"\nLa lista de listas es \n{r}")

La lista a es
[1, 2, 3]
La lista b es
[4, 5, 6]
La lista c es
[7, 8, 9]

La lista de listas es
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
print(f"El primer elemento de la lista r es \n{r[0]}")

El primer elemento de la lista r es
[1, 2, 3]

In [16]:
print(f"El tercer elemento de la lista r es \n{r[2]}")

El tercer elemento de la lista r es
[7, 8, 9]

In [17]:
print(f"El tercer del tercer elemento de la lista r es \n{r[2][2]}")

El tercer del tercer elemento de la lista r es
9

In [18]:
print(f"El tercer elemento del tercer elemento de la lista r es \n{r[-1][-1]}")

El tercer elemento del tercer elemento de la lista r es
9

In [20]:
list("Edgar")

['E', 'd', 'g', 'a', 'r']

In [22]:
numeros = list(range(12,201,2))
print (numeros)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [25]:
print(f"La lista inicial es \n{numeros}")
elemento1 = numeros.pop(0)
elemento2 = numeros.pop(-1)
print(f"La lista actualizada es \n{numeros}")
print(f"Los elementos eliminados de la lista son {elemento1, elemento2 }")

La lista inicial es
[16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196]
La lista actualizada es
[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194]
Los elementos eliminados de la lista son (16, 196)

In [ ]:
from IPython.display import Image, display
# Mostrar la imagen en Colab
display(Image(filename='Act001_Python.png'))

In [28]:
## Actividad 1
## 1.1
lista_x = list(range(12,201,2)) # 12: punto de partida, 201: punta de parada (no está incluído), 2: saltos
print(f"La lista ingresada es \n{lista_x}")

La lista ingresada es
[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [29]:
## Actividad 1
## 1.2
numeros_eliminados = [lista_x.pop(0),lista_x.pop()]
print(f"La lista de elementos eliminados es \n{numeros_eliminados}")

La lista de elementos eliminados es
[12, 200]

In [ ]:
## Actividad 1
## 1.2
numeros_eliminados = [lista_x.pop(0),lista_x.pop()]
## 1.3
print(f"La lista de elementos eliminados es \n{numeros_eliminados}")

In [30]:
## Actividad 1
## 1.4
print(f"El valor mínimo de la lista es {min(lista_x)}")
print(f"El valor máximo de la lista es {max(lista_x)}")

El valor mínimo de la lista es 14
El valor máximo de la lista es 198

In [31]:
## Actividad N001
# Nota
lista_x = [] # Define la lista vacía
i = 12 # Elemento punto de partida
while i<201:
  lista_x.append(i)
  i+=2
print(f"La lista ingresada es \n{lista_x}")

La lista ingresada es
[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [33]:
## Actividad N002
# 2.1
n = int(input("Ingrese el número de elementos de la lista a crear:"))
# Explicación de crear una lista de valores seguidos
lista_y = [] # Crear una lista vacía
i = 0
while i<n:
  print(i)
  i += 1
print("Fin.")

Ingrese el número de elementos de la lista a crear:5
0
1
2
3
4
Fin.

In [34]:
## 2.2 y 2.3
lista_y = [] # Crear una lista vacía
i = 0 # inicializar en cero
while i<n:
  lista_y.append(int(input(f"Ingrese el valor {i+1} de la lista: ")))
  i+=1
print(f"La lista con los valores ingresados es: \n{lista_y}")

Ingrese el valor 1 de la lista: 4
Ingrese el valor 2 de la lista: 2
Ingrese el valor 3 de la lista: 5
Ingrese el valor 4 de la lista: 7
Ingrese el valor 5 de la lista: 5
La lista con los valores ingresados es:
[4, 2, 5, 7, 5]

In [35]:
print(f"El valor mínimo de la lista es {min(lista_y)}")
print(f"El valor máximo de la lista es {max(lista_y)}")
print(f"El promedio de los elementos de la lista es {sum(lista_y)/len(lista_y)}")

El valor mínimo de la lista es 2
El valor máximo de la lista es 7
El promedio de los elementos de la lista es 4.6

In [37]:
## Actividad N003
# Nota ingrese lista
lista_x = ["A", "B","b","c","E","E","f"]
print (lista_x)

['A', 'B', 'b', 'c', 'E', 'E', 'f']

In [39]:
# Apartado 3.1
lista_x = ["A", "B", "b", "c", "E", "E", "f"]
print("Lista inicial:", lista_x)
# Apartado 3.2
elemento_eliminar = input("Ingrese el elemento que desea eliminar: ")
# Apartado 3.3
if elemento_eliminar in lista_x:
    lista_x.remove(elemento_eliminar)
    print(f"Elemento eliminado: {elemento_eliminar}")
else:
    print(f"El elemento '{elemento_eliminar}' no está en la lista.")
print("Lista resultante:", lista_x)

Lista inicial: ['A', 'B', 'b', 'c', 'E', 'E', 'f']
Ingrese el elemento que desea eliminar: A
Elemento eliminado: A
Lista resultante: ['B', 'b', 'c', 'E', 'E', 'f']